html{height:100%;font-family:Verdana !important;}
body{height:100%;}
#content{height:100%;}
table{height:100%;margin-bottom:0 !important;}
.tr-header{height:16%;}
.td1{width:60%;}
.rer-logo{height:120px; float:left;margin-top:-15px;margin-left:-15px;}
.rer-ligne{height:50px; float:left;margin-top:45px;margin-left:-15px;}
.tr-header .td1 p{color:#000099;font-family:Verdana;font-weight:bold;font-size:28px;line-height:30px;padding-left:160px;margin-top:20px;}
.td2-header{vertical-align:middle !important;background-color:#555b69;font-size:50px;color:white !important;font-weight:bold;text-align:right!important;}
.td2-header p{margin-top:10px;margin-right:40px;}
.bg-tr{background-color:#d6dcd8;}
.tr-normal{height:13%;max-height:13%;}
.tr-normal td, .tr-trafic .tdfull{vertical-align:middle!important}
.tr-normal .td1 p, .tr-normal .td2 p{color:black;font-family:Verdana;font-weight:bold;font-size:22px;margin:0px;}
.tr-normal .td2{width:10%;}
.tr-normal .td3{text-align:right;}
.tr-normal .td3 p{color:black;font-family:Verdana;font-weight:bold;font-size:22px;margin:0 40px 0 0;}
.tr-trafic{height:5%;background-color:#FACC2E;}
.tr-trafic .tdfull p{color:black;font-family:Calibri;font-weight:bold;font-size:16px;margin:0px;}