<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Proto RATP API</title>
    <link href="css/bootstrap-cosmo.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="css/fix.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/x-template" id="page-template">
      <table class="table">
        <tbody>
          <tr class="tr-header">
            <td class="td1">
              <img src="img/ratp/logo-<%= type %>.png" alt="" class="rer-logo" />
              <img src="img/ratp/logo-<%= type %>-<%= line %>.png" alt="" class="rer-ligne" />
              <p>Station: <%= station %></p>
              <p>Direction: <%= destination %></p>
            </td>
            <td colspan="2" class="td2-header"><p><%= current_time %></p></td>
          </tr>
          <% _.map(horaires, function (horaire, i) { %>
            <tr class="<% if(i%2) { %>bg-tr <% } %>tr-normal">
              <td class="td1"><p><%= horaire.destination %></p></td>
              <td class="td2"><p><%= horaire.id %></p></td>
              <td class="td3"><p><%= horaire.message %></p></td>
            </tr>
          <% }) %>

          <tr class="tr-trafic">
            <td class="tdfull" colspan="3"><p><i><%= traffic %></i></p></td>
          </tr>
        </tbody>
      </table>
    </script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
